.profile__name {
  font-size: 42px;
  line-height: 1.33;
  margin: 0;
  font-weight: 500;
  margin-right: 0;
  text-overflow: ellipsis;
  max-width: 500px;
  white-space: normal;
  word-wrap: break-word;
}

@media all and (max-width: 500px) {
  .profile__name {
    font-size: 27px;
    line-height: 2.07;
    text-align: center;
    max-width: 270px;
  }
}
