.footer__author {
  font-size: 18px;
  line-height: 1.22;
  color: #545454;
}

@media all and (max-width: 320px) {
  .footer__author {
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
  }
}
