.element__like-button {
  position: absolute;
  background-image: url(../../../images/like.svg);
  width: 20.76px;
  height: 18.13px;
  background-color: transparent;
  border: none;
  top: 21px;
  right: 22.24px;
}

.element__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
}

.element__like-button:focus {
  outline: none;
}
